<body style="background-color:powderblue;">
<img src="http://www.pd4pic.com/images/penguin-bird-cool-rapper-gangster-sun-glasses.png" alt="Gangsta Hepi C" style="width:20%;height:15%;">
<h1 style="color:yellow;">Welcome <%= @user.full_name%> Lil' Twits</h1>
