<body style="background-color:powderblue;">
<img src="http://www.pd4pic.com/images/penguin-bird-cool-rapper-gangster-sun-glasses.png" alt="Gangsta Hepi C" style="width:20%;height:15%;">
<h1 style="color:yellow;">Welcome <%= @user.full_name%> Lil' Twits</h1>

<div class="write_twit">
  <h2 style="color:orange">Whatsup lil' twit?</h2>
  <form action ="/users/" method="post">
      <input type="text" name="twit" placeholder="Write your lil' twit here">
      <input type="submit" value="twit"></input>
  </form>
</div>

<div class="feed">
  <h2 style="color:orange"><%= @user.full_name%>'s Bird FEED </h2>
</div>





