<% if session[:user_id] == @profile.id %>
  <div class="write_post">
    <form action ="/users/:id" method="post">
        <input type="text" name="post" placeholder="Write your lil' post here">
        <input type="submit" value="post"></input>
    </form>
  </div>
<% end %>

<div class="feed">
  <h2 style="color: yellow"><%= @profile.full_name%>'s posts </h2>
  <ul>
    <% posts = Post.where(user_id: @profile.id) %>
    <% posts.each do |post| %>
        <li><%= post.text %></li>
    <% end %>
  </ul>
</div>
