

<main class="page">


<div align="center">

<h1 id="logo">Jaunt</h1>

<div id="front-page">
<h2>Login</h2>
  <form class="pure-form" action ="/login" method="post" style="color:#737373">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit" class="pure-button pure-button-primary">Login</button>
  </form>
<p style="color: red">
<% if @login_error %>
  <%= @login_error %>
<% end %>
</p>

<p>Don't have a login?</p>

<p style="color: red">
<h2>Register</h2>
<% if @register_error %>
  <%= @register_error %>
<% end %>
</p>

<form class="pure-form pure-form-aligned" method="post" action="/register">
    <fieldset style="color:#737373">
        <div class="pure-control-group">
            <label for="full_name">Full Name</label>
            <input name="full_name" id="full_name" type="text" placeholder="your name">
        </div>

        <div class="pure-control-group">
            <label for="email">Email</label>
            <input name="email" type="text" placeholder="email">
        </div>

        <div class="pure-control-group">
            <label for="username">Username</label>
            <input name="username" type="text" placeholder="username">
        </div>

        <div class="pure-control-group">
            <label for="password1">Password</label>
            <input name="password1" type="password" placeholder="password">
        </div>

        <div class="pure-control-group">
            <label for="password2">Confirm Password</label>
            <input name="password2" type="password" placeholder="confirm password">
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
                <input id="cb" type="checkbox"> I've read the terms and conditions
            </label>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>
</div>
</div>

</main>

